



body {
    width: 1800px;
    height:1000px;
    background-image: url("../images/kazminbgr.png");
    background-repeat: no-repeat;
}

#wrapper {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    width: 1800px;
    height:1000px;
    margin: -500px 0 0 -900px;
    outline: red solid 0px;
}

#header {
    height: 120px;
    outline: red solid 0px;
}

#logo {
    width: 540px;    
    float: left;
    outline: green solid 0px;
}

#logo img {
        padding-left: 100px;
}

#descr {
    width: 720px;    
    float: left;
    outline: green solid 0px;
}

#descr h2 {
    text-align: center;
    color: #024779;
}

#logo2 {
    width: 540px;    
    float: left;
    outline: green solid 0px;
}


#statistic {
    height: 150px;
    outline: orange solid 0px;

    background: rgba(255, 255, 255, 0.5);

  /*  background: rgba(71, 185, 216, 0.5);  */
    width: 100%;
  
}


.num_g {
    width: 50px;      
    border: #024779 solid 5px;
    background-color:#00ae51;
} 

.num_g_p {
    outline: green solid 0px;    
    background-color:#00ae51;
}

.num_g h1 {
    text-align: center;
    font-size: 200%;  
    padding-left: 10px;
    padding-right: 10px;
    color: white;

}

.num_w {    
    width: 50px;      
    border: #024779 solid 5px;
    background-color:#FFFFFF;
}

.num_w_p {
    outline: green solid 0px;    
    background-color:#daf2fc;
}


.num_w h1 {
    text-align: center;
    font-size: 200%;  
    padding-left: 10px;
    padding-right: 10px;
    color: #024779;

}

#statistic td h4 {
    text-align: center;
}




#info {
    height: 700px;
    outline: purple solid 0px;
}

#left {
    width: 445px;
    float: left;
    margin-right: 5px ;
}

#left video {
    width: 100%;
    margin-top: 20px;
  /*  padding: 10px 10px 10px 10px; */
    border: #024779 solid 5px;
}

#left img {
    width: 100%;
    height: 340px;
    margin-top: 20px;
  /*  padding: 10px 10px 10px 10px; */
    border: #024779 solid 5px;
}
#center {
    width: 890px;
    float: left;
    margin: 5px 5px 5px 5px;
}

#center video {
    width: 100%;
    margin-top: 100px;
    border: #024779 solid 5px;
    
}

#right {
    float: left;
    width: 445px;
    margin-left: 5px;
}

#right video {
    width: 100%;
    margin-top: 20px;
   /* padding: 10px 10px 10px 10px; */
    border: #024779 solid 5px;
}

#right img {
    width: 100%;
    height: 700px;
    margin-top: 20px;
   /* padding: 10px 10px 10px 10px; */
    border: #024779 solid 5px;
}

#triangle {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-right: 80px solid lightblue;
  border-bottom: 40px solid transparent;
 }



